name: build-pack

on: 
  push:
    branches:
    - master
  schedule:
    - cron: "22 3 * * *"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Download RSSingle
      run: wget https://github.com/tanrax/RSSingle/releases/download/v1.0.0/rssingle
    - name: Add permissons
      run: chmod +x rssingle
    - name: Run
      run: |
        python3 --version
    - name: Upload new dist
      run: |
        rm -rf docs/index.xml
        mv index.xml docs
        git config user.email "action@github.com"
        git config user.name "GitHub Action"
        git add docs/index.xml
        git commit -m "$(date +"%F")"
        git push -f origin master

